<!-- poo.component.html -->
<a [routerLink]="['']" class="botãovoltar"> << VOLTAR </a>
<h2 class="section-title">Informações do Carro:</h2>
<div class="vehicle-info">
  <p><strong>Marca:</strong> {{ car.brand }}</p>
  <p><strong>Modelo:</strong> {{ car.model }}</p>
  <p><strong>Ano:</strong> {{ car.year }}</p>
  <p><strong>Número de Portas:</strong> {{ car.doors }}</p>
</div>

<h2 class="section-title">Informações da Motocicleta:</h2>
<div class="vehicle-info">
  <p><strong>Marca:</strong> {{ motorcycle.brand }}</p>
  <p><strong>Modelo:</strong> {{ motorcycle.model }}</p>
  <p><strong>Ano:</strong> {{ motorcycle.year }}</p>
  <p><strong>Cilindradas:</strong> {{ motorcycle.cc }}</p>
</div>
